body {margin: 0}
        h1 {font-size: 35px;
            color: black;
            text-align: center;
            border-bottom: 1px solid grey;
            padding: 50px;
            margin: 0; 
            background-color: rgb(218, 218, 218);}
        #repeat {text-decoration: none;
                color: black;
                }
        h2 {font-size: 20px;
            color: black;
            text-align: center;
            margin: 0;
            padding-top: 0;
            background-color: rgb(224, 224, 224);}
        #upper {font-size: 15px;
                margin:0;
                padding: 10px;}
        a {text-decoration: none;
            color: black; }
        .list {text-align: center;
                border-bottom: solid grey 1px;
                padding: 0;
                background-color: rgb(224, 224, 224);}
        .block {text-align: center; 
                padding: 30px;
                border-bottom: solid grey 1px;}
        .bottom {text-align: center;
                font-size: 15px;}
        .space {padding: 100px;}
        img {padding-bottom: 20px;}
        #active {font-weight:bolder;}